body{
  padding: 0px 50px;
}

.header-outer-wrap{
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.react-search-field {
  border: 1px solid rgb(221, 221, 221);
  display: inline-flex;
  justify-content: space-between;
  height: 35px;
  width: 450px;
}

.header-inner-wrap{
  display: flex;
  width: 600px;
  justify-content: space-between;
}

canvas.chartjs-render-monitor {
  width: 160px !important;
  height: 75px !important;
}

.chart-wrap{
  display:flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.chart-outer-wrap{}

.chart-inner-wrap{
  width: 160px;
}

.heading{
  font-weight: 700;
}

.report-button{
  margin-bottom: 20px;
  margin-left: 20px;
}

.form-control{
  height: 38px !important;
}

.react-tabs{
  margin-top: 60px;
}

.table-header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.left-wrap {
  width: 44%;
  display: flex;
  justify-content: space-between;
}

.right-wrap{
  display: flex;
  width: 44%;
  justify-content: space-evenly;
}

.icon-span{
  font-size: 13px;
  font-weight: 600;
}

.pending{
  color:orange
}

.requirement {
  color: green;
}

.action-required {
  color:red
}

.no-data{
  color:silver
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid #d5d4d4;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 160px !important;
  text-align: center;
  border-radius: 0 20px 0 0 !important;
  background-color: #f8f4f4 !important;
  border-bottom: 1px solid lightgray;
}

.react-tabs__tab--selected {
  background: #FFE !important;
  color: black;
  border-radius: 5px 5px 0 0;
  width: 110px;
  color: #44c9dd;
  font-weight: 600;
}

button.Expired {
  border: none;
  padding: 5px 10px;
  background: #f02046;
  color: white;
  border-radius: 5px;
}

button.Valid {
  border: none;
  padding: 5px 10px;
  background: #50b450;
  color: white;
  border-radius: 5px;
}

.fa-plus:before {
  content: "\f067";
  font-size: 10px;
  border: 1px solid #c5bfbf;
  padding: 1px 2px;
}

.credit-button{
  border: 1px solid #03a9f4;
  color: #03a9f4;
  background: none;
}

.table td{
  text-align: center;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  padding: 0 10px;
}